<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Art Dealership System</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'startbootstrap-bare-gh-pages/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-5.0.1-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/cust_reg.css' %}">
  </head>
  <body id="creg" style="background-image: url('{% static "images/5.jpg" %}');">
  {% include 'arts/navbar.html' %}
   
    <!-- registration form -->
      <div class="container-sm" style="border: solid 1px #adb5bd; background-color: rgba(204, 230, 255, 0.5); width:450px;" align="center">
  			<div class="panel panel-default registration"><br>
  				<div class="panel-heading">
  					<h5 style="text-align: center;">Create an Account</h5>
  				</div><hr><br>
  				<div class="panel-body">
  					<form class="form-horizontal" role="form" method="post">
  					  <div class="bg-danger error_msg"></div>
              <form action="" method="POST">
                {% csrf_token %}
                {% for field in form %}
                <div class="col-lg-6">
                <p>
                  {{ field.label_tag }}</br>
                  {{field}}
                  {% for error in field.errors %}
                <p style="color:darkred;">{{ error }}</P>
                {% endfor %}
                </p>
                </div>
                {% endfor %}
                </br>
                <div class="d-grid gap-2 col-sm-6 mx-auto">
  						  <button type="submit" name="submit" class="btn btn-light btn-block btn-md" style="background-color: #ffaa00;"><strong>REGISTER</strong></button>
  					  </div><br>
              </form>
              <p class="message">Already have an account? <a href="{% url 'login' %}">Log In</a></p>
  					</form>
  				</div>
  			</div>
  		</div>
      </div>

      <script src="{% static 'startbootstrap-bare-gh-pages/js/scripts.js' %}"></script>
      <script src="{% static 'bootstrap-5.0.1-dist/js/bootstrap.min.js' %}"></script>
  </body>
</html>

